.carousel {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: auto;
}

.topic-title img {
  width: 100%;
  height: auto;
}

.icon {
  font-size: 35px;
  position: absolute;
  top: 40%;
  cursor: pointer;
}

.icon-left {
  left: 2%;
}

.icon-right {
  left: 93%;
}

.carousel-holder {
  position: relative;
  z-index: -1;
}

.topic-text {
  line-height: 25px;
  max-height: 125px;
  overflow: hidden;
}

.singlePostfunctions {
  color: grey;
}

.image-splash {
  padding: 40px;
  height: 100%;
  width: 130%;
  /*position: relative;
  right: 9.9%;*/
  vertical-align: bottom;
  min-height: 900px;
  background-size: cover;
  background-position: top;
  background-image: url("https://images.unsplash.com/photo-1487581424120-18f3611a63e6?dpr=2&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1033&amp;q=80&amp;cs=tinysrgb&amp;crop=");
  margin-bottom: -100px;
  z-index: -5;
}

.container-fluid {
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#left-topic,
#middle-topic,
#right-topic {
  padding: 3px;
  background-color: white;
  color: black;
  width: 25%;
  border-radius: 5px;
  min-height: 250px;
  min-width: 200px;
  max-width: 400px;
  max-height: 450px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 30px;
  margin-left: 30px;
  font-weight: 700;
  padding-top: -15px;
  position: relative;
  bottom: 475px;
  left: 5%;
  margin-bottom: -300px;
  font-style: Arial;
  z-index: -5;
}

div.topicHead {
  /*background-color: #34495e;*/
  padding-top: 8px;
  padding-bottom: 8px;
}

.splash-main {
  padding-bottom: -50px;
}

.header-color {
  color: #34495e;
}
